body{
  width: 100%;
  height: 100%;
}

.card-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2px;
  justify-content: center;
}

.cartItem-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

}

